@tailwind base;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Inter", sans-serif;
}

h6 {
  @apply text-sm font-normal leading-6 text-[#84788E];
}

h2 {
  @apply text-[32px] font-medium leading-[40px] text-[#1D1028] max-sm:text-[24px] max-sm:leading-[32px];
}

p, li {
  @apply text-base font-semibold leading-6 text-[#1D1028] max-sm:text-sm;
}

.button-primary {
  border-radius: var(--Radius-Radius-XL, 32px);
  border-top: 1px solid rgba(255, 255, 255, 0.50);
  background: linear-gradient(180deg, #D10396 0%, #9B006F 100%);
  box-shadow: 0px 7px 0px 0px #7A0F5C;
}

.button-secondary {
  border-radius: var(--Radius-Radius-XL, 32px);
  background: rgba(17, 4, 37, 0.75);
}

.button-secondary:hover {
  background: rgba(17, 4, 37, 1);
}
